<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Connecting readers from around the world	</title>
	<atom:link href="https://chapterone.qodeinteractive.com/connecting-readers-from-around-the-world/feed/" rel="self" type="application/rss+xml" />
	<link>https://chapterone.qodeinteractive.com/connecting-readers-from-around-the-world/</link>
	<description>Bookstore and Publisher Theme</description>
	<lastBuildDate>Mon, 02 Sep 2019 14:12:06 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.9</generator>
	<item>
		<title>
		By: James Hoffman		</title>
		<link>https://chapterone.qodeinteractive.com/connecting-readers-from-around-the-world/#comment-16</link>

		<dc:creator><![CDATA[James Hoffman]]></dc:creator>
		<pubDate>Mon, 29 Jul 2019 10:14:18 +0000</pubDate>
		<guid isPermaLink="false">https://chapterone.qodeinteractive.com/?p=1052#comment-16</guid>

					<description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.]]></description>
			<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Jessica Johnson		</title>
		<link>https://chapterone.qodeinteractive.com/connecting-readers-from-around-the-world/#comment-15</link>

		<dc:creator><![CDATA[Jessica Johnson]]></dc:creator>
		<pubDate>Mon, 29 Jul 2019 10:13:48 +0000</pubDate>
		<guid isPermaLink="false">https://chapterone.qodeinteractive.com/?p=1052#comment-15</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;https://chapterone.qodeinteractive.com/connecting-readers-from-around-the-world/#comment-14&quot;&gt;Jane Doe&lt;/a&gt;.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="https://chapterone.qodeinteractive.com/connecting-readers-from-around-the-world/#comment-14">Jane Doe</a>.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Jane Doe		</title>
		<link>https://chapterone.qodeinteractive.com/connecting-readers-from-around-the-world/#comment-14</link>

		<dc:creator><![CDATA[Jane Doe]]></dc:creator>
		<pubDate>Mon, 29 Jul 2019 10:13:29 +0000</pubDate>
		<guid isPermaLink="false">https://chapterone.qodeinteractive.com/?p=1052#comment-14</guid>

					<description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.]]></description>
			<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
