
<div class="mkdf-row-single-svg-holder" style="left:; right:; top:; bottom:; "></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1564493403364">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class="mkdf-image-gallery mkdf-grid-list mkdf-grid-masonry-list mkdf-disable-bottom-space  mkdf-ig-masonry-type mkdf-six-columns mkdf-small-space  mkdf-image-behavior-lightbox">
					<div class="mkdf-ig-inner mkdf-outer-space mkdf-masonry-list-wrapper">
						<div class="mkdf-masonry-grid-sizer"></div>
						<div class="mkdf-masonry-grid-gutter"></div>
						<div class="mkdf-ig-image mkdf-item-space mkdf-fixed-masonry-item mkdf-masonry-size-large-width-height">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-1.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-1">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-1.jpg" class="attachment-full size-full" alt="d" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-1.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-1-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-1-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-1-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-1-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-1-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-1-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-1-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-1-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-2.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-2">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-2.jpg" class="attachment-full size-full" alt="k" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-2.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-2-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-2-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-2-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-2-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-2-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-2-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-2-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-2-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-3.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-3">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-3.jpg" class="attachment-full size-full" alt="k" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-3.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-3-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-3-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-3-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-3-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-3-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-3-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-3-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-3-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-4.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-4">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-4.jpg" class="attachment-full size-full" alt="k" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-4.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-4-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-4-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-4-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-4-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-4-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-4-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-4-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-4-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-5.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-5">
									<img width="1300" height="1300" src="/temp/template/tewp-content/uploads/2019/07/home-2-gallery-5.jpg" class="attachment-full size-full" alt="k" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-5.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-5-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-5-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-5-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-5-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-5-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-5-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-5-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-5-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-8.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-8">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-8.jpg" class="attachment-full size-full" alt="k" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-8.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-8-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-8-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-8-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-8-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-8-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-8-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-8-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-8-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space mkdf-fixed-masonry-item mkdf-masonry-size-large-width-height">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-9.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-9">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-9.jpg" class="attachment-full size-full" alt="f" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-9.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-9-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-9-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-9-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-9-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-9-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-9-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-9-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-9-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-10.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-10">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-10.jpg" class="attachment-full size-full" alt="f" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-10.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-10-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-10-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-10-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-10-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-10-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-10-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-10-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-10-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-6.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-6">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-6.jpg" class="attachment-full size-full" alt="k" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-6.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-6-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-6-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-6-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-6-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-6-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-6-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-6-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-6-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-7.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-7">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-7.jpg" class="attachment-full size-full" alt="k" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-7.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-7-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-7-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-7-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-7-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-7-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-7-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-7-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-7-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-11.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-11">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-11.jpg" class="attachment-full size-full" alt="d" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-11.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-11-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-11-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-11-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-11-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-11-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-11-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-11-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-11-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
						<div class="mkdf-ig-image mkdf-item-space ">
							<div class="mkdf-ig-image-inner">
								<a itemprop="image" class="mkdf-ig-lightbox" href="/temp/template/wp-content/uploads/2019/07/home-2-gallery-12.jpg"
								   data-rel="prettyPhoto[image_gallery_pretty_photo-182]"
								   title="home-2-gallery-12">
									<img width="1300" height="1300" src="/temp/template/wp-content/uploads/2019/07/home-2-gallery-12.jpg" class="attachment-full size-full" alt="d" loading="lazy" srcset="https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-12.jpg 1300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-12-600x600.jpg 600w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-12-800x800.jpg 800w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-12-150x150.jpg 150w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-12-300x300.jpg 300w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-12-768x768.jpg 768w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-12-1024x1024.jpg 1024w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-12-650x650.jpg 650w, https://chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-gallery-12-100x100.jpg 100w" sizes="(max-width: 1300px) 100vw, 1300px" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br /><br /><br />

