
<div class="mkdf-top-bar">


	<div class="mkdf-vertical-align-containers">
		<div class="mkdf-position-left">
			<!--
			-->
			<div class="mkdf-position-left-inner">
				<div id="text-4" class="widget widget_text mkdf-top-bar-widget">
					<div class="textwidget">
						<p>Never Say Never..</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mkdf-position-right">
			<!--
			-->
			<div class="mkdf-position-right-inner">
				<div class="widget mkdf-social-icons-group-widget text-align-left">
					<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#d14031" style="color: #ffffff;;font-size: 14px;margin: 0 10px 0 0;" href="https://twitter.com/QodeInteractive" target="_blank">
						<span class="mkdf-social-icon-widget fab fa-twitter"></span>
					</a>
					<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#d14031" style="color: #ffffff;;font-size: 14px;margin: 0 10px 0 0;" href="https://www.instagram.com/qodeinteractive/" target="_blank">
						<span class="mkdf-social-icon-widget fab fa-instagram"></span>
					</a>
					<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#d14031" style="color: #ffffff;;font-size: 14px;margin: 0 10px 0 0;" href="https://www.facebook.com/QodeInteractive/" target="_blank">
						<span class="mkdf-social-icon-widget fab fa-facebook-f"></span>
					</a>
					<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#d14031" style="color: #ffffff;;font-size: 14px;margin: 0 10px 0 0;" href="https://dribbble.com/QodeInteractive" target="_blank">
						<span class="mkdf-social-icon-widget fab fa-dribbble"></span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!--Arama butonu-->
	<div class="mkdf-slide-from-header-bottom-holder">
		<form action="https://chapterone.qodeinteractive.com/" method="get">
			<div class="mkdf-form-holder">
				<input type="text" placeholder="Araştır" name="s"
					   class="mkdf-search-field" autocomplete="off" required />
				<button type="submit" class="mkdf-search-submit mkdf-search-submit-icon-pack">
					<span class="mkdf-search-label">-></span>
				</button>
			</div>
		</form>
	</div>
</div>


<!--Logo üst kısım--> 
<header class="mkdf-page-header">


	<div class="mkdf-menu-area mkdf-menu-left">


		<div class="mkdf-vertical-align-containers">
			<div class="mkdf-position-left">
				<!--
				-->
				<div class="mkdf-position-left-inner">


					<div class="mkdf-logo-wrapper">
						<a itemprop="url"
						   href="/temp/template/index.html" title ="Anasayfaya Dön" style="height: 50px;">
							<img itemprop="image" class="mkdf-normal-logo"
								 src="/temp/template/wp-content/uploads/2019/08/logo.png" width="124" height="100" alt="logo" />
							<img itemprop="image" class="mkdf-dark-logo"
								 src="/temp/template/wp-content/uploads/2019/08/logo.png" width="124" height="100" alt="dark logo" />			<img itemprop="image" class="mkdf-light-logo"
																													   src="/temp/template/wp-content/uploads/2019/08/logo.png" width="124" height="100" alt="light logo" />
						</a>
					</div>

					<!--Anasayfa-->
					<nav class="mkdf-main-menu mkdf-drop-down mkdf-default-nav">
						<ul id="menu-main-menu" class="clearfix">
							<li id="nav-menu-item-501" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent mkdf-active-item has_sub narrow">
								<a href="#" class=" current  no_link" onclick="JavaScript: return false;"><span class="item_outer"><span class="item_text">Anasayfa</span><i class="mkdf-menu-arrow arrow_carrot-down"></i></span></a>
								<div class="second">
									<div class="inner">
										<ul>
											<li id="nav-menu-item-500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-313 current_page_item "><a href="/temp/template/index.html" class=""><span class="item_outer"><span class="item_text">Anasayfa</span></span></a></li>
											<li id="nav-menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/bestselling-author/index.html" class=""><span class="item_outer"><span class="item_text">Popüler Yazarlar</span></span></a></li>
											<li id="nav-menu-item-868" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/left-menu-home/index.html" class=""><span class="item_outer"><span class="item_text">Left Menu Home</span></span></a></li>
											<li id="nav-menu-item-896" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/grid-home/index.html" class=""><span class="item_outer"><span class="item_text">Grid Home</span></span></a></li>
											<li id="nav-menu-item-2018" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/landing/index.html" class=""><span class="item_outer"><span class="item_text">Landing</span></span></a></li>
										</ul>
									</div>
								</div>
							</li>
							<!--Pages-->
							<li id="nav-menu-item-572" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
								<a href="#" class=""><span class="item_outer"><span class="item_text">Pages</span><i class="mkdf-menu-arrow arrow_carrot-down"></i></span></a>
								<div class="second">
									<div class="inner">
										<ul>
											<li id="nav-menu-item-1008" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/about-me/index.html" class=""><span class="item_outer"><span class="item_text">About Me</span></span></a></li>
											<li id="nav-menu-item-1120" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/about-us/index.html" class=""><span class="item_outer"><span class="item_text">About Us</span></span></a></li>
											<li id="nav-menu-item-886" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/coming-soon/index.html" class=""><span class="item_outer"><span class="item_text">Coming Soon</span></span></a></li>
											<li id="nav-menu-item-1009" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/contact-us/index.html" class=""><span class="item_outer"><span class="item_text">Bizimle İletişime Geçin</span></span></a></li>
									
										</ul>
									</div>
								</div>
							</li>

							<li id="nav-menu-item-574" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
								<a href="#" class=""><span class="item_outer"><span class="item_text">Kitaplar</span><i class="mkdf-menu-arrow arrow_carrot-down"></i></span></a>
								<div class="second">
									<div class="inner">
										<ul>
											<li id="nav-menu-item-1083" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/right-sidebar/index.html" class=""><span class="item_outer"><span class="item_text">Right Sidebar</span></span></a></li>
											<li id="nav-menu-item-1082" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/left-sidebar/index.html" class=""><span class="item_outer"><span class="item_text">Left Sidebar</span></span></a></li>
											<li id="nav-menu-item-1086" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/no-sidebar/index.html" class=""><span class="item_outer"><span class="item_text">No Sidebar</span></span></a></li>
											<li id="nav-menu-item-1034" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
												<a href="#" class=" no_link" onclick="JavaScript: return false;"><span class="item_outer"><span class="item_text">Blog Singles</span></span></a>
												<ul>
													<li id="nav-menu-item-1033" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/coffee-and-croissant-with-our-favorite-erika/index.html" class=""><span class="item_outer"><span class="item_text">Standard</span></span></a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li id="nav-menu-item-571" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
								<a href="#" class=""><span class="item_outer"><span class="item_text">Shop</span><i class="mkdf-menu-arrow arrow_carrot-down"></i></span></a>
								<div class="second">
									<div class="inner">
										<ul>
											<li id="nav-menu-item-593" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/index.html" class=""><span class="item_outer"><span class="item_text">Product List</span></span></a></li>
											<li id="nav-menu-item-585" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
												<a href="#" class=""><span class="item_outer"><span class="item_text">Product Singles</span></span></a>
												<ul>
													<li id="nav-menu-item-577" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/amsterdam-travel-stories/index.html" class=""><span class="item_outer"><span class="item_text">Standard</span></span></a></li>
													<li id="nav-menu-item-578" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/easy-fast-healthy-recipes/index.html" class=""><span class="item_outer"><span class="item_text">Grouped</span></span></a></li>
													<li id="nav-menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/winter-darkest-tragedy-3/index.html" class=""><span class="item_outer"><span class="item_text">Variable</span></span></a></li>
													<li id="nav-menu-item-579" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/fantasy-storytelling-3/index.html" class=""><span class="item_outer"><span class="item_text">Virtual</span></span></a></li>
													<li id="nav-menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/renaissance-history-3/index.html" class=""><span class="item_outer"><span class="item_text">External</span></span></a></li>
													<li id="nav-menu-item-581" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/sea-sadness-pdf/index.html" class=""><span class="item_outer"><span class="item_text">Downloadable</span></span></a></li>
													<li id="nav-menu-item-583" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/symphony-of-trilogy-2/index.html" class=""><span class="item_outer"><span class="item_text">New</span></span></a></li>
													<li id="nav-menu-item-582" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/winter-darkest-tragedy-2/index.html" class=""><span class="item_outer"><span class="item_text">On Sale</span></span></a></li>
													<li id="nav-menu-item-576" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/wellness-and-paradise-2/index.html" class=""><span class="item_outer"><span class="item_text">Out of Stock</span></span></a></li>
												</ul>
											</li>
											<li id="nav-menu-item-588" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
												<a href="#" class=""><span class="item_outer"><span class="item_text">Layouts</span></span></a>
												<ul>
													<li id="nav-menu-item-631" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/four-columns/index.html" class=""><span class="item_outer"><span class="item_text">Four Columns</span></span></a></li>
													<li id="nav-menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/four-columns-wide/index.html" class=""><span class="item_outer"><span class="item_text">Four Col. Wide</span></span></a></li>
													<li id="nav-menu-item-630" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/five-columns-wide/index.html" class=""><span class="item_outer"><span class="item_text">Five Col. Wide</span></span></a></li>
													<li id="nav-menu-item-2123" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/six-columns-wide/index.html" class=""><span class="item_outer"><span class="item_text">Six Col. Wide</span></span></a></li>
												</ul>
											</li>
											<li id="nav-menu-item-589" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
												<a href="#" class=""><span class="item_outer"><span class="item_text">Pages</span></span></a>
												<ul>
													<li id="nav-menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/cart/index.html" class=""><span class="item_outer"><span class="item_text">Cart</span></span></a></li>
													<li id="nav-menu-item-591" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/checkout/index.html" class=""><span class="item_outer"><span class="item_text">Checkout</span></span></a></li>
													<li id="nav-menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/my-account/index.html" class=""><span class="item_outer"><span class="item_text">Hesabım</span></span></a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</nav>

				</div>
			</div>
			<div class="mkdf-position-right">
				<!--
				-->
				

					<a class="mkdf-search-opener mkdf-icon-has-hover mkdf-widget-border mkdf-search-opener-icon-pack" href="javascript:void(0)">
						<span class="mkdf-search-opener-wrapper">
							<span aria-hidden="true" class="mkdf-icon-font-elegant icon_search "></span>
						</span>
					</a>
					<a class="mkdf-side-menu-button-opener mkdf-icon-has-hover mkdf-widget-border mkdf-side-menu-button-opener-icon-pack" href="javascript:void(0)">
						<span class="mkdf-side-menu-icon">
							<span aria-hidden="true" class="mkdf-icon-font-elegant icon_menu "></span>
						</span>
					</a>
				</div>
			</div>
		</div>

	</div>



	<div class="mkdf-sticky-header">
		<div class="mkdf-sticky-holder mkdf-menu-left">
			<div class="mkdf-vertical-align-containers">
				<div class="mkdf-position-left">
					<!--
					-->
					<div class="mkdf-position-left-inner">


						<div class="mkdf-logo-wrapper">
							<a itemprop="url"
							   href="/temp/template/index.html" style="height: 50px;">
								<img itemprop="image" class="mkdf-normal-logo"
									 src="/temp/template/wp-content/uploads/2019/08/logo.png" width="124" height="100" alt="logo" />
								<img itemprop="image" class="mkdf-dark-logo"
									 src="/temp/template/wp-content/uploads/2019/08/logo.png" width="124" height="100" alt="dark logo" />			<img itemprop="image" class="mkdf-light-logo"
																														 src="/temp/template/wp-content/uploads/2019/08/logo.png" width="124" height="100" alt="light logo" />
							</a>
						</div>


						<nav class="mkdf-main-menu mkdf-drop-down mkdf-sticky-nav">
							<ul id="menu-main-menu-1" class="clearfix">
								<li id="sticky-nav-menu-item-501" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkdf-active-item has_sub narrow">
									<a href="#" class=" current  no_link" onclick="JavaScript: return false;"><span class="item_outer"><span class="item_text">Home</span><span class="plus"></span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
									<div class="second">
										<div class="inner">
											<ul>
												<li id="sticky-nav-menu-item-500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-313 current_page_item "><a href="/temp/template/index.html" class=""><span class="item_outer"><span class="item_text">Main Home</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/bestselling-author/index.html" class=""><span class="item_outer"><span class="item_text">Bestselling Author</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-868" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/left-menu-home/index.html" class=""><span class="item_outer"><span class="item_text">Left Menu Home</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-896" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/grid-home/index.html" class=""><span class="item_outer"><span class="item_text">Grid Home</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-2018" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/landing/index.html" class=""><span class="item_outer"><span class="item_text">Landing</span><span class="plus"></span></span></a></li>
											</ul>
										</div>
									</div>
								</li>
								<li id="sticky-nav-menu-item-572" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
									<a href="#" class=""><span class="item_outer"><span class="item_text">Pages</span><span class="plus"></span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
									<div class="second">
										<div class="inner">
											<ul>
												<li id="sticky-nav-menu-item-1008" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/about-me/index.html" class=""><span class="item_outer"><span class="item_text">About Me</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-1120" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/about-us/index.html" class=""><span class="item_outer"><span class="item_text">About Us</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-886" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="coming-soon/index.html" class=""><span class="item_outer"><span class="item_text">Coming Soon</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-1172" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="order-page/index.html" class=""><span class="item_outer"><span class="item_text">Order Page</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-1009" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="contact-us/index.html" class=""><span class="item_outer"><span class="item_text">Contact Us</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-888" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="pricing-options/index.html" class=""><span class="item_outer"><span class="item_text">Pricing Options</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-890" class="menu-item menu-item-type-custom menu-item-object-custom "><a href="404-error-page/index.html" class=""><span class="item_outer"><span class="item_text">404 Error Page</span><span class="plus"></span></span></a></li>
											</ul>
										</div>
									</div>
								</li>
							
								<li id="sticky-nav-menu-item-574" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
									<a href="#" class=""><span class="item_outer"><span class="item_text">Blog</span><span class="plus"></span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
									<div class="second">
										<div class="inner">
											<ul>
												<li id="sticky-nav-menu-item-1083" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/right-sidebar/index.html" class=""><span class="item_outer"><span class="item_text">Right Sidebar</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-1082" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/left-sidebar/index.html" class=""><span class="item_outer"><span class="item_text">Left Sidebar</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-1086" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/no-sidebar/index.html" class=""><span class="item_outer"><span class="item_text">No Sidebar</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-1034" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
													<a href="#" class=" no_link" onclick="JavaScript: return false;"><span class="item_outer"><span class="item_text">Blog Singles</span><span class="plus"></span></span></a>
													<ul>
														<li id="sticky-nav-menu-item-1033" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/coffee-and-croissant-with-our-favorite-erika/index.html" class=""><span class="item_outer"><span class="item_text">Standard</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/connecting-readers-from-around-the-world/index.html" class=""><span class="item_outer"><span class="item_text">Gallery</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-1074" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/jane-austen/index.html" class=""><span class="item_outer"><span class="item_text">Quote</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-1077" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/taking-on-a-world-of-words/index.html" class=""><span class="item_outer"><span class="item_text">Link</span><span class="plus"></span></span></a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li id="sticky-nav-menu-item-571" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
									<a href="#" class=""><span class="item_outer"><span class="item_text">Shop</span><span class="plus"></span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
									<div class="second">
										<div class="inner">
											<ul>
												<li id="sticky-nav-menu-item-593" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/index.html" class=""><span class="item_outer"><span class="item_text">Product List</span><span class="plus"></span></span></a></li>
												<li id="sticky-nav-menu-item-585" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
													<a href="#" class=""><span class="item_outer"><span class="item_text">Product Singles</span><span class="plus"></span></span></a>
													<ul>
														<li id="sticky-nav-menu-item-577" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/amsterdam-travel-stories/index.html" class=""><span class="item_outer"><span class="item_text">Standard</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-578" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/easy-fast-healthy-recipes/index.html" class=""><span class="item_outer"><span class="item_text">Grouped</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/winter-darkest-tragedy-3/index.html" class=""><span class="item_outer"><span class="item_text">Variable</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-579" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/fantasy-storytelling-3/index.html" class=""><span class="item_outer"><span class="item_text">Virtual</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/renaissance-history-3/index.html" class=""><span class="item_outer"><span class="item_text">External</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-581" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/sea-sadness-pdf/index.html" class=""><span class="item_outer"><span class="item_text">Downloadable</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-583" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/symphony-of-trilogy-2/index.html" class=""><span class="item_outer"><span class="item_text">New</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-582" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/winter-darkest-tragedy-2/index.html" class=""><span class="item_outer"><span class="item_text">On Sale</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-576" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/wellness-and-paradise-2/index.html" class=""><span class="item_outer"><span class="item_text">Out of Stock</span><span class="plus"></span></span></a></li>
													</ul>
												</li>
												<li id="sticky-nav-menu-item-588" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
													<a href="#" class=""><span class="item_outer"><span class="item_text">Layouts</span><span class="plus"></span></span></a>
													<ul>

														<li id="sticky-nav-menu-item-633" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/three-columns/index.html" class=""><span class="item_outer"><span class="item_text">Three Columns</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-631" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/four-columns/index.html" class=""><span class="item_outer"><span class="item_text">Four Columns</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/four-columns-wide/index.html" class=""><span class="item_outer"><span class="item_text">Four Col. Wide</span><span class="plus"></span></span></a></li>
													</ul>
												</li>
												<li id="sticky-nav-menu-item-589" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub">
													<a href="#" class=""><span class="item_outer"><span class="item_text">Pages</span><span class="plus"></span></span></a>
													<ul>
														<li id="sticky-nav-menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/cart/index.html" class=""><span class="item_outer"><span class="item_text">Cart</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-591" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/checkout/index.html" class=""><span class="item_outer"><span class="item_text">Checkout</span><span class="plus"></span></span></a></li>
														<li id="sticky-nav-menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/my-account/index.html" class=""><span class="item_outer"><span class="item_text">Hesabım</span><span class="plus"></span></span></a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</nav>

					</div>
				</div>
				<div class="mkdf-position-right">
					<!--
					-->
					<div class="mkdf-position-right-inner">

						<a class="mkdf-search-opener mkdf-icon-has-hover mkdf-widget-border mkdf-search-opener-icon-pack" href="javascript:void(0)">
							<span class="mkdf-search-opener-wrapper">
								<span aria-hidden="true" class="mkdf-icon-font-elegant icon_search "></span>
							</span>
						</a>
						<a class="mkdf-side-menu-button-opener mkdf-icon-has-hover mkdf-widget-border mkdf-side-menu-button-opener-icon-pack" href="javascript:void(0)">
							<span class="mkdf-side-menu-icon">
								<span aria-hidden="true" class="mkdf-icon-font-elegant icon_menu "></span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="mkdf-slide-from-header-bottom-holder">
		<form action="https://chapterone.qodeinteractive.com/" method="get">
			<div class="mkdf-form-holder">
				<input type="text" placeholder="Araştır" name="s"
					   class="mkdf-search-field" autocomplete="off" required />
				<button type="submit" class="mkdf-search-submit mkdf-search-submit-icon-pack">
					<span class="mkdf-search-label">-></span>
				</button>
			</div>
		</form>
	</div>
</header>


<header class="mkdf-mobile-header">

	<div class="mkdf-mobile-header-inner">
		<div class="mkdf-mobile-header-holder">
			<div class="mkdf-grid">
				<div class="mkdf-vertical-align-containers">
					<div class="mkdf-position-left">
						<!--
						-->
						<div class="mkdf-position-left-inner">

							<div class="mkdf-mobile-logo-wrapper">
								<a itemprop="url"
								   href="/temp/template/index.html" style="height: 50px">
									<img itemprop="image"
										 src="/temp/template/wp-content/uploads/2019/08/logo.png" width="124" height="100" alt="Mobile Logo" />
								</a>
							</div>

						</div>
					</div>
					<div class="mkdf-position-right">
						<!--
						-->
						<div class="mkdf-position-right-inner">
							<div class="mkdf-shopping-cart-holder mkdf-widget-border">
								<div class="mkdf-shopping-cart-inner">
									<a itemprop="url" class="mkdf-header-cart mkdf-header-cart-icon-pack" href="cart/index.html">
										<span class="mkdf-sc-opener-icon">
											<span aria-hidden="true" class="mkdf-icon-font-elegant icon_bag_alt "></span>		<span class="mkdf-sc-opener-count">0</span>
										</span>
										<span class="mkdf-sc-opener-total"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>0.00</bdi></span></span>
									</a>
									<div class="mkdf-sc-dropdown">
										<div class="mkdf-sc-dropdown-inner">
											<p class="mkdf-empty-cart">No products in the cart.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="mkdf-mobile-menu-opener mkdf-mobile-menu-opener-icon-pack">
								<a href="javascript:void(0)">
									<span class="mkdf-mobile-menu-icon">
										<span aria-hidden="true" class="mkdf-icon-font-elegant icon_menu "></span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav class="mkdf-mobile-nav" role="navigation" aria-label="Mobile Menu">
			<div class="mkdf-grid">
				<ul id="menu-main-menu-2" class="">
					<li id="mobile-menu-item-501" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkdf-active-item has_sub">
						<h6><span>Home</span></h6><span class="mobile_arrow"><i class="mkdf-sub-arrow mkdf-icon-font-elegant arrow_carrot-right"></i><i class="fa fa-angle-down"></i></span>
						<ul class="sub_menu">
							<li id="mobile-menu-item-500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-313 current_page_item "><a href="/temp/template/index.html" class=""><span>Anasayfa</span></a></li>
							<li id="mobile-menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/bestselling-author/index.html" class=""><span>Popüler Yazarlar</span></a></li>
							<li id="mobile-menu-item-868" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/left-menu-home/index.html" class=""><span>Left Menu Home</span></a></li>
							<li id="mobile-menu-item-896" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/grid-home/index.html" class=""><span>Grid Home</span></a></li>
							<li id="mobile-menu-item-2018" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/landing/index.html" class=""><span>Landing</span></a></li>
						</ul>
					</li>
					<li id="mobile-menu-item-572" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
						<a href="#" class=" mkdf-mobile-no-link"><span>Pages</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow mkdf-icon-font-elegant arrow_carrot-right"></i><i class="fa fa-angle-down"></i></span>
						<ul class="sub_menu">
							<li id="mobile-menu-item-1008" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/about-me/index.html" class=""><span>About Me</span></a></li>
							<li id="mobile-menu-item-1120" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/about-us/index.html" class=""><span>About Us</span></a></li>
							<li id="mobile-menu-item-886" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/coming-soon/index.html" class=""><span>Coming Soon</span></a></li>
							<li id="mobile-menu-item-1172" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/order-page/index.html" class=""><span>Order Page</span></a></li>
							<li id="mobile-menu-item-1009" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/contact-us/index.html" class=""><span>Contact Us</span></a></li>
							<li id="mobile-menu-item-888" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/pricing-options/index.html" class=""><span>Pricing Options</span></a></li>
							<li id="mobile-menu-item-890" class="menu-item menu-item-type-custom menu-item-object-custom "><a href="/temp/template/404-error-page/index.html" class=""><span>404 Error Page</span></a></li>
						</ul>
					</li>
				
					<li id="mobile-menu-item-574" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
						<a href="#" class=" mkdf-mobile-no-link"><span>Blog</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow mkdf-icon-font-elegant arrow_carrot-right"></i><i class="fa fa-angle-down"></i></span>
						<ul class="sub_menu">
							<li id="mobile-menu-item-1083" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="right-sidebar/index.html" class=""><span>Right Sidebar</span></a></li>
							<li id="mobile-menu-item-1082" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="left-sidebar/index.html" class=""><span>Left Sidebar</span></a></li>
							<li id="mobile-menu-item-1086" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="no-sidebar/index.html" class=""><span>No Sidebar</span></a></li>
							<li id="mobile-menu-item-1034" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
								<h6><span>Blog Singles</span></h6><span class="mobile_arrow"><i class="mkdf-sub-arrow mkdf-icon-font-elegant arrow_carrot-right"></i><i class="fa fa-angle-down"></i></span>
								<ul class="sub_menu">
									<li id="mobile-menu-item-1033" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/coffee-and-croissant-with-our-favorite-erika/index.html" class=""><span>Standard</span></a></li>
									<li id="mobile-menu-item-1035" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/how-to-spend-a-rainy-day-at-your-cozy-home/index.html" class=""><span>No Sidebar</span></a></li>
									<li id="mobile-menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/connecting-readers-from-around-the-world/index.html" class=""><span>Gallery</span></a></li>
									<li id="mobile-menu-item-1074" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/jane-austen/index.html" class=""><span>Quote</span></a></li>
									<li id="mobile-menu-item-1077" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/taking-on-a-world-of-words/index.html" class=""><span>Link</span></a></li>
									<li id="mobile-menu-item-1059" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/books-for-kids/index.html" class=""><span>Audio</span></a></li>
									<li id="mobile-menu-item-1070" class="menu-item menu-item-type-post_type menu-item-object-post "><a href="/temp/template/five-favorites-for-the-last-five-months/index.html" class=""><span>Video</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li id="mobile-menu-item-571" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
						<a href="#" class=" mkdf-mobile-no-link"><span>Shop</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow mkdf-icon-font-elegant arrow_carrot-right"></i><i class="fa fa-angle-down"></i></span>
						<ul class="sub_menu">
							<li id="mobile-menu-item-593" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/index.html" class=""><span>Product List</span></a></li>
							<li id="mobile-menu-item-585" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
								<a href="#" class=" mkdf-mobile-no-link"><span>Product Singles</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow mkdf-icon-font-elegant arrow_carrot-right"></i><i class="fa fa-angle-down"></i></span>
								<ul class="sub_menu">
									<li id="mobile-menu-item-577" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/amsterdam-travel-stories/index.html" class=""><span>Standard</span></a></li>
									<li id="mobile-menu-item-578" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/easy-fast-healthy-recipes/index.html" class=""><span>Grouped</span></a></li>
									<li id="mobile-menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/winter-darkest-tragedy-3/index.html" class=""><span>Variable</span></a></li>
									<li id="mobile-menu-item-579" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/fantasy-storytelling-3/index.html" class=""><span>Virtual</span></a></li>
									<li id="mobile-menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/renaissance-history-3/index.html" class=""><span>External</span></a></li>
									<li id="mobile-menu-item-581" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/sea-sadness-pdf/index.html" class=""><span>Downloadable</span></a></li>
									<li id="mobile-menu-item-583" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/symphony-of-trilogy-2/index.html" class=""><span>New</span></a></li>
									<li id="mobile-menu-item-582" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/winter-darkest-tragedy-2/index.html" class=""><span>On Sale</span></a></li>
									<li id="mobile-menu-item-576" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="/temp/template/product/wellness-and-paradise-2/index.html" class=""><span>Out of Stock</span></a></li>
								</ul>
							</li>
							<li id="mobile-menu-item-588" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
								<a href="#" class=" mkdf-mobile-no-link"><span>Layouts</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow mkdf-icon-font-elegant arrow_carrot-right"></i><i class="fa fa-angle-down"></i></span>
								<ul class="sub_menu">
									<li id="mobile-menu-item-633" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/three-columns/index.html" class=""><span>Three Columns</span></a></li>
									<li id="mobile-menu-item-631" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/four-columns/index.html" class=""><span>Four Columns</span></a></li>
									<li id="mobile-menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/shop-list/four-columns-wide/index.html" class=""><span>Four Col. Wide</span></a></li>

								</ul>
							</li>
							<li id="mobile-menu-item-589" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
								<a href="#" class=" mkdf-mobile-no-link"><span>Pages</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow mkdf-icon-font-elegant arrow_carrot-right"></i><i class="fa fa-angle-down"></i></span>
								<ul class="sub_menu">
									<li id="mobile-menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/cart/index.html" class=""><span>Cart</span></a></li>
									<li id="mobile-menu-item-591" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/checkout/index.html" class=""><span>Checkout</span></a></li>
									<li id="mobile-menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/temp/template/my-account/index.html" class=""><span>Hesabım</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

	</div>

	<div class="mkdf-slide-from-header-bottom-holder">
		<form action="https://chapterone.qodeinteractive.com/" method="get">
			<div class="mkdf-form-holder">
				<input type="text" placeholder="Araştır" name="s"
					   class="mkdf-search-field" autocomplete="off" required />
				<button type="submit" class="mkdf-search-submit mkdf-search-submit-icon-pack">
					<span class="mkdf-search-label">-></span>
				</button>
			</div>
		</form>
	</div>
</header>