<div class="vc_row wpb_row vc_row-fluid"><div class="mkdf-row-single-svg-holder" style="left:; right:; top:; bottom:; "><div class="vc_row wpb_row vc_row-fluid">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<!-- START Home 2 Slider 3 REVOLUTION SLIDER 6.6.5 --><p class="rs-p-wp-fix"></p>
				<rs-module-wrap id="rev_slider_4_3_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
					<rs-module id="rev_slider_4_3" style="" data-version="6.6.5">
						<rs-slides style="overflow: hidden; position: absolute;">
							<rs-slide style="position: absolute;" data-key="rs-4" data-title="Slide" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;">
								<img src="wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="Slide" title="Main Home" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="//chapterone.qodeinteractive.com/wp-content/plugins/revslider/public/assets/assets/transparent.png" data-no-retina>
								<!--
															-->
								<rs-layer id="slider-4-slide-4-layer-10"
										  data-type="text"
										  data-color="#999999"
										  data-xy="x:c,c,c,l;xo:265px,167px,41px,33px;y:m;yo:-122px,-122px,-145px,-114px;"
										  data-text="w:normal;s:12;ls:4px;"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_0="x:50;"
										  data-frame_1="e:power2.out;st:200;sp:1000;sR:200;"
										  data-frame_999="o:0;st:w;sR:7800;"
										  style="z-index:9;font-family:'Josefin Sans';text-transform:uppercase;">
									autobiography
								</rs-layer>
								<!--

								-->
								<rs-layer id="slider-4-slide-4-layer-12"
										  data-type="text"
										  data-color="#000000"
										  data-xy="x:c,c,c,l;xo:337px,235px,111px,33px;y:m;yo:-83px,-83px,-106px,-60px;"
										  data-text="w:normal;s:35;l:45,45,45,34;fw:500;"
										  data-dim="w:auto,auto,auto,237px;"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_0="x:50;"
										  data-frame_1="e:power2.out;st:200;sp:1000;sR:200;"
										  data-frame_999="o:0;st:w;sR:7800;"
										  style="z-index:10;font-family:'Cormorant Garamond';">
									Travelogue of the year
								</rs-layer>
								<!--

								-->
								<rs-layer id="slider-4-slide-4-layer-13"
										  data-type="text"
										  data-color="#555555"
										  data-xy="x:c,c,c,l;xo:430px,330px,153px,33px;y:m;yo:-9px,-9px,-18px,60px;"
										  data-text="w:normal;s:19;l:28;"
										  data-dim="w:486px,486px,376px,275px;"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_0="x:50;"
										  data-frame_1="e:power2.out;st:200;sp:1000;sR:200;"
										  data-frame_999="o:0;st:w;sR:7800;"
										  style="z-index:11;font-family:'Cormorant Garamond';">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
								</rs-layer>
								<!--

								-->
								<rs-layer id="slider-4-slide-4-layer-14"
										  data-type="text"
										  data-xy="x:c,c,c,l;xo:289px,190px,57px,33px;y:m;yo:100px,100px,91px,194px;"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_0="x:50;"
										  data-frame_1="e:power2.out;st:200;sp:1000;sR:200;"
										  data-frame_999="o:0;st:w;sR:7800;"
										  style="z-index:12;font-family:'Roboto';">
											<a itemprop="url" href="/temp/template/event/festival-of-books/index.html"
									   target="_self" class="mkdf-btn mkdf-btn-large mkdf-btn-outline">
										<span class="mkdf-btn-text">read more</span>
									</a>
								</rs-layer>
								<!--

								-->
								<rs-layer id="slider-4-slide-4-layer-15"
										  data-type="image"
										  data-xy="x:c;xo:689px,471px,471px,471px;y:m;yo:170px,205px,182px,182px;"
										  data-text="w:normal;"
										  data-dim="w:364px,241px,241px,241px;h:186px,123px,123px,123px;"
										  data-vbility="t,t,f,f"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_1="e:power2.out;st:600;sp:1500;sR:600;"
										  data-frame_999="o:0;st:w;sR:6900;"
										  style="z-index:13;">
											<img src="/temp/template/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="h" class="tp-rs-img rs-lazyload" width="364" height="186" data-lazyload="//chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-rev-3-image-1.png" data-no-retina>
								</rs-layer>
								<!--

								-->
								<rs-layer id="slider-4-slide-4-layer-16"
										  data-type="image"
										  data-xy="xo:637px,330px,84px,84px;y:m;yo:93px,62px,80px,80px;"
										  data-text="w:normal;"
										  data-dim="w:470px,397px,287px,287px;h:353px,298px,216px,216px;"
										  data-vbility="t,t,t,f"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_1="e:power2.out;st:600;sp:1500;sR:600;"
										  data-frame_999="o:0;st:w;sR:6900;"
										  style="z-index:8;">
											<img src="/temp/template/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="g" class="tp-rs-img rs-lazyload" width="470" height="353" data-lazyload="//chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-rev-3-image-3.png" data-no-retina>
								</rs-layer>
								<!--

								-->
								<rs-layer id="slider-4-slide-4-layer-17"
										  data-type="image"
										  data-xy="xo:223px,71px,47px,47px;y:m;yo:-90px,-79px,-83px,-83px;"
										  data-text="w:normal;"
										  data-dim="w:348px,279px,250px,250px;h:370px,297px,266px,266px;"
										  data-vbility="t,t,t,f"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_1="e:power2.out;st:600;sp:1500;sR:600;"
										  data-frame_999="o:0;st:w;sR:6900;"
										  style="z-index:14;">
											<img src="/temp/template/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="j" class="tp-rs-img rs-lazyload" width="348" height="370" data-lazyload="//chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-rev-3-image-4.png" data-no-retina>
								</rs-layer>
								<!--

								-->
								<rs-layer id="slider-4-slide-4-layer-18"
										  data-type="image"
										  data-xy="xo:423px,228px,149px,149px;y:m;yo:-36px,-39px,-49px,-49px;"
										  data-text="w:normal;"
										  data-dim="w:523px,410px,264px,264px;h:523px,410px,264px,264px;"
										  data-vbility="t,t,f,f"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_0="y:-50;"
										  data-frame_1="e:power2.out;st:400;sp:1000;sR:400;"
										  data-frame_999="o:0;st:w;sR:7600;"
										  style="z-index:15;">
											<img src="/temp/template/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="k" class="tp-rs-img rs-lazyload" width="523" height="523" data-lazyload="//chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-rev-3-img-6.jpg" data-no-retina>
								</rs-layer>
								<!--

								-->
								<rs-layer id="slider-4-slide-4-layer-19"
										  data-type="image"
										  data-xy="xo:234px,96px,9px,9px;y:m;yo:180px,142px,119px,119px;"
										  data-text="w:normal;"
										  data-dim="w:307px,234px,256px,256px;h:307px,234px,256px,256px;"
										  data-vbility="t,t,t,f"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_0="y:50;"
										  data-frame_1="e:power2.out;st:400;sp:1000;sR:400;"
										  data-frame_999="o:0;st:w;sR:7600;"
										  style="z-index:16;">
											<img src="/temp/template/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="d" class="tp-rs-img rs-lazyload" width="307" height="307" data-lazyload="//chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-rev-3-img-5.jpg" data-no-retina>
								</rs-layer>
								<!--

								-->
								<rs-layer id="slider-4-slide-4-layer-20"
										  data-type="image"
										  data-xy="xo:618px,356px,284px,179px;y:m;yo:290px,216px,207px,254px;"
										  data-text="w:normal;"
										  data-dim="w:258px,207px,207px,143px;h:93px,75px,75px,52px;"
										  data-vbility="t,t,t,f"
										  data-basealign="slide"
										  data-rsp_o="off"
										  data-rsp_bd="off"
										  data-frame_0="x:50;"
										  data-frame_1="e:power2.out;st:400;sp:1000;sR:400;"
										  data-frame_999="o:0;st:w;sR:7600;"
										  style="z-index:17;">
											<img src="/temp/template/wp-content/plugins/revslider/public/assets/assets/dummy.png" alt="home-2-rev-3-image-2" class="tp-rs-img rs-lazyload" width="258" height="93" data-lazyload="//chapterone.qodeinteractive.com/wp-content/uploads/2019/07/home-2-rev-3-image-2.png" data-no-retina>
								</rs-layer>
								<!--
								-->
							</rs-slide>
						</rs-slides>
					</rs-module>

					<script>
						setREVStartSize({ c: 'rev_slider_4_3', rl: [1920, 1700, 1025, 480], el: [760, 610, 660, 720], gw: [1240, 1024, 778, 480], gh: [760, 610, 660, 720], type: 'standard', justify: '', layout: 'fullwidth', mh: "0" }); if (window.RS_MODULES !== undefined && window.RS_MODULES.modules !== undefined && window.RS_MODULES.modules["revslider43"] !== undefined) { window.RS_MODULES.modules["revslider43"].once = false; window.revapi4 = undefined; if (window.RS_MODULES.checkMinimal !== undefined) window.RS_MODULES.checkMinimal() }
					</script>
						</rs-module-wrap>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
