<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Five favorites for the last five months	</title>
	<atom:link href="https://chapterone.qodeinteractive.com/five-favorites-for-the-last-five-months/feed/" rel="self" type="application/rss+xml" />
	<link>https://chapterone.qodeinteractive.com/five-favorites-for-the-last-five-months/</link>
	<description>Bookstore and Publisher Theme</description>
	<lastBuildDate>Wed, 21 Aug 2019 11:21:25 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.9</generator>
	<item>
		<title>
		By: James Hoffman		</title>
		<link>https://chapterone.qodeinteractive.com/five-favorites-for-the-last-five-months/#comment-22</link>

		<dc:creator><![CDATA[James Hoffman]]></dc:creator>
		<pubDate>Mon, 29 Jul 2019 10:44:46 +0000</pubDate>
		<guid isPermaLink="false">https://chapterone.qodeinteractive.com/?p=1063#comment-22</guid>

					<description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.]]></description>
			<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Jessica Johnson		</title>
		<link>https://chapterone.qodeinteractive.com/five-favorites-for-the-last-five-months/#comment-21</link>

		<dc:creator><![CDATA[Jessica Johnson]]></dc:creator>
		<pubDate>Mon, 29 Jul 2019 10:43:46 +0000</pubDate>
		<guid isPermaLink="false">https://chapterone.qodeinteractive.com/?p=1063#comment-21</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;https://chapterone.qodeinteractive.com/five-favorites-for-the-last-five-months/#comment-20&quot;&gt;Jane Doe&lt;/a&gt;.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="https://chapterone.qodeinteractive.com/five-favorites-for-the-last-five-months/#comment-20">Jane Doe</a>.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Jane Doe		</title>
		<link>https://chapterone.qodeinteractive.com/five-favorites-for-the-last-five-months/#comment-20</link>

		<dc:creator><![CDATA[Jane Doe]]></dc:creator>
		<pubDate>Mon, 29 Jul 2019 10:42:55 +0000</pubDate>
		<guid isPermaLink="false">https://chapterone.qodeinteractive.com/?p=1063#comment-20</guid>

					<description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.]]></description>
			<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
