@model List<HikayeViwModel>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/AdminLayout/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hikaye Adı</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.HikayeId</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/Hikaye/DeleteHikaye/@item.HikayeId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Hikaye/UpdateHikaye/@item.HikayeId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="@item.HikayeId" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
        </tr>

    }
</table>
<a href="/Hikaye/AddHikaye/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Hikaye Girişi</a>
   
