@model UpdateHikayeViewModel
@{
    ViewData["Title"] = "UpdateHikaye";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="HikayeId" />
    <label>Hikaye Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <label>Kategori</label>
    <input type="text" asp-for="KategoriAdi" class="form-control" />
    <label>Yazar Soyadı</label>
    <input type="text" asp-for="YazarSoyadi" class="form-control" />
    <label>YazarAdi</label>
    <input type="text" asp-for="YazarAdi" class="form-control" />
    <button class="btn btn-outline-success">Hikayeyi Güncelle</button>
</form>

