<form method="post" asp-action="_BultenPartial" asp-controller="Default">
<div class="mkdf-column-content mkdf-grid-col-3">
	<div id="text-3" class="widget mkdf-footer-column-3 widget_text">
		<div class="mkdf-widget-title-holder"><h5 class="mkdf-widget-title">Haberler ve Güncellemeler</h5></div>			<div class="textwidget">
			<p>Bültenimize Abone Olmak İster Misiniz?</p>
		</div>
	</div>			<div class="widget mkdf-contact-form-7-widget ">
		<div role="form" class="wpcf7" id="wpcf7-f16-o1" lang="en-US" dir="ltr">
			<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
			<form action="https://chapterone.qodeinteractive.com/#wpcf7-f16-o1" method="post" class="wpcf7-form init demo" novalidate="novalidate" data-status="init">
				<div style="display: none;">
					<input type="hidden" name="_wpcf7" value="16" />
					<input type="hidden" name="_wpcf7_version" value="5.6.4" />
					<input type="hidden" name="_wpcf7_locale" value="en_US" />
					<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f16-o1" />
					<input type="hidden" name="_wpcf7_container_post" value="0" />
					<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
				</div>
				<div class="mkdf-ft-newsletter">
					<div class="mkdf-two-columns-form-with-space">
						<div class="mkdf-column-ft-left">
							<span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="BultenMail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Mail Adresinizi Girin" /></span>
					
							<div class="mkdf-ft-after"><button type="submit" class="wpcf7-form-control wpcf7-submit mkdf-btn mkdf-btn-medium mkdf-btn-solid"><span class="mkdf-btn-text">&nbsp;</span></button></div>
						</div>
					</div>
				</div>
				<div class="wpcf7-response-output" aria-hidden="true"></div>
			</form>
		</div>
	</div>
</div>
</form>
