@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en-GB">
@await Component.InvokeAsync("_HeadPartial")


<!-- Mirrored from chapterone.qodeinteractive.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Dec 2024 22:26:27 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<body class="home page-template page-template-full-width page-template-full-width-php page page-id-313 theme-chapterone chapterone-core-1.0.4 woocommerce-no-js chapterone-ver-1.5 mkdf-grid-1300 mkdf-wide-dropdown-menu-content-in-grid mkdf-sticky-header-on-scroll-up mkdf-dropdown-animate-height mkdf-header-standard mkdf-menu-area-shadow-disable mkdf-menu-area-in-grid-shadow-disable mkdf-menu-area-border-disable mkdf-menu-area-in-grid-border-disable mkdf-logo-area-border-disable mkdf-logo-area-in-grid-border-disable mkdf-header-vertical-shadow-disable mkdf-header-vertical-border-disable mkdf-side-menu-slide-from-right mkdf-woocommerce-columns-3 mkdf-woo-normal-space mkdf-woo-pl-info-below-image mkdf-woo-single-thumb-below-image mkdf-woo-single-has-pretty-photo mkdf-default-mobile-header mkdf-sticky-up-mobile-header mkdf-header-top-enabled mkdf-slide-from-header-bottom wpb-js-composer js-comp-ver-6.10.0 vc_responsive" itemscope itemtype="https://schema.org/WebPage">
<div class="mkdf-wrapper">
	<div class="mkdf-wrapper-inner">
			
		@await Component.InvokeAsync("_TopBarPartial")

			<a id='mkdf-back-to-top' href='#'>
                <span class="mkdf-icon-stack">
                     <i class="mkdf-icon-font-awesome fa fa-angle-up "></i>                </span>
			</a>
				
		<div class="mkdf-content" >
			<div class="mkdf-content-inner">	
	<div class="mkdf-full-width">
				<div class="mkdf-full-width-inner">
										<div class="mkdf-grid-row">
					<div class="mkdf-page-content-holder mkdf-grid-col-12">
						<section class="wpb-content-wrapper"><div class="vc_row wpb_row vc_row-fluid" ><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="mkdf-elements-holder   mkdf-one-column  mkdf-responsive-mode-768 " ><div class="mkdf-eh-item    "  data-item-class="mkdf-eh-custom-3275" data-769-1024="40px 0 0 0" data-681-768="30px 0 0 0" data-680="15px 0 0 0">
	<div class="mkdf-eh-item-inner">
		<div class="mkdf-eh-item-content mkdf-eh-custom-3275" >
				@await Component.InvokeAsync("_SliderPartial")
			<!-- END REVOLUTION SLIDER -->
		</div>
	</div>

		@await Component.InvokeAsync("_CategoryPartial")
				
			<div class="mkdf-pli-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>56.00</span></div>
	</div>
</div>		</div>
	     @await Component.InvokeAsync("_ServicePartial")

		 @await Component.InvokeAsync("_AuthorPartial")
		 @await Component.InvokeAsync("_AutoPartial")
		 
		 @await Component.InvokeAsync("_ArtPartial")
		  @await Component.InvokeAsync("_LogoPartial")
		  @await Html.PartialAsync("_BultenPartial")
		  @await Component.InvokeAsync("_FooterPartial")
	

			<!-- END REVOLUTION SLIDER -->
  <!-- close div.content -->

</div> <!-- close div.mkdf-wrapper-inner  -->
</div> <!-- close div.mkdf-wrapper -->
   @await Component.InvokeAsync("_SectionPartial")
   <%= render 'partial/section' %>


		<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
			window.RS_MODULES = window.RS_MODULES || {};
			window.RS_MODULES.modules = window.RS_MODULES.modules || {};
			window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
			window.RS_MODULES.defered = false;
			window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
			window.RS_MODULES.type = 'compiled';
		</script>
		<div class="rbt-toolbar" data-theme="ChapterOne" data-featured="" data-button-position="70%" data-button-horizontal="right" data-button-alt="no" ></div>
<!-- GTM Container placement set to footer -->
<!-- Google Tag Manager (noscript) -->
				<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTQ2BTD" height="0" width="0" style="display:none;visibility:hidden" aria-hidden="true"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><script type="text/html" id="wpb-modifications"></script><link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400%7CCormorant+Garamond:500%2C400%7CCormorant:400%7CRoboto:400&amp;display=swap" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

	<script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})();
	</script>
	<script>
		if(typeof revslider_showDoubleJqueryError === "undefined") {function revslider_showDoubleJqueryError(sliderID) {console.log("You have some jquery.js library include that comes after the Slider Revolution files js inclusion.");console.log("To fix this, you can:");console.log("1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on");console.log("2. Find the double jQuery.js inclusion and remove it");return "Double Included jQuery Library";}}
</script>
<link rel='stylesheet' id='rs-plugin-settings-css'  href='/temp/template/wp-content/plugins/revslider/public/assets/css/rs60660.css?ver=6.6.5' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
		#rev_slider_2_1_wrapper .chapter-one-navigation-dark.tparrows{cursor:pointer;width:33px;height:57px; background:transparent;position:absolute;display:block;z-index:1000}#rev_slider_2_1_wrapper .chapter-one-navigation-dark.tparrows:before{content:'' !important; display:none !important}#rev_slider_2_1_wrapper .chapter-one-navigation-dark.tparrows svg{stroke:#000; transition:.3s}#rev_slider_2_1_wrapper .chapter-one-navigation-dark.mkdf-light-navigation svg{stroke:#fff}#rev_slider_2_1_wrapper .chapter-one-navigation-dark:hover svg{transform:translateX(-3px)}#rev_slider_2_1_wrapper .chapter-one-navigation-dark.tparrows.tp-rightarrow{transform:scaleX(-1)}.tp-bullets{}.tp-bullets:before{content:' '; position:absolute; width:100%; height:100%; background:transparent; padding:10px; margin-left:-10px;margin-top:-10px; box-sizing:content-box}.tp-bullet{width:10px; height:10px; position:absolute; background:#999; border-radius:50%; cursor:pointer; box-sizing:content-box}#rev_slider_2_1_wrapper .chapter-one-navigation-dark.mkdf-dark-navigation .tp-bullet.rs-touchhover,#rev_slider_2_1_wrapper .chapter-one-navigation-dark.mkdf-dark-navigation .tp-bullet.selected{background:#000}.tp-bullet-title{position:absolute; color:#888888; font-size:12px; padding:0px 10px; font-weight:600; right:27px; top:-4px;  background:rgba(255,255,255,0.75); visibility:hidden; transform:translatex(-20px); -webkit-transform:translatex(-20px); transition:transform 0.3s; -webkit-transition:transform 0.3s; line-height:20px; white-space:nowrap}.tp-bullet-title:after{width:0px; height:0px; border-style:solid; border-width:10px 0 10px 10px; border-color:transparent transparent transparent rgba(255,255,255,0.75); content:' ';  position:absolute;  right:-10px; top:0px}.tp-bullet.rs-touchhover .tp-bullet-title{visibility:visible;  transform:translatex(0px); -webkit-transform:translatex(0px)}.tp-bullet.selected:hover .tp-bullet-title{background:#ffffff}.tp-bullet.selected:hover .tp-bullet-title:after{border-color:transparent transparent transparent #ffffff}.tp-bullets.rs-touchhover .tp-bullet-title{visibility:hidden}.tp-bullets.rs-touchhover .tp-bullet.rs-touchhover .tp-bullet-title{visibility:visible;  transform:translateX(0px) translatey(0px); -webkit-transform:translateX(0px) translatey(0px)}.nav-dir-vertical.nav-pos-hor-left .tp-bullet-title{right:auto; left:27px; transform:translatex(20px); -webkit-transform:translatex(20px)}.nav-dir-vertical.nav-pos-hor-left .tp-bullet-title:after{border-width:10px 10px 10px 0 !important; border-color:transparent rgba(255,255,255,0.75) transparent transparent; right:auto !important; left:-10px !important}.nav-dir-vertical.nav-pos-hor-left .tp-bullet.selected:hover .tp-bullet-title:after{border-color:transparent #ffffff transparent transparent !important}.nav-dir-horizontal.nav-pos-ver-center .tp-bullet-title,.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet-title{top:-35px; left:50%; right:auto; transform:translateX(-50%) translateY(-10px);-webkit-transform:translateX(-50%) translateY(-10px)}.nav-dir-horizontal.nav-pos-ver-center .tp-bullet-title:after,.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet-title:after{border-width:10px 10px 0px 10px; border-color:rgba(255,255,255,0.75) transparent transparent transparent; right:auto; left:50%; margin-left:-10px; top:auto; bottom:-10px}.nav-dir-horizontal.nav-pos-ver-center .tp-bullet.selected:hover .tp-bullet-title:after,.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet.selected:hover .tp-bullet-title:after{border-color:#ffffff transparent transparent transparent}.nav-dir-horizontal.nav-pos-ver-center .tp-bullet.rs-touchhover .tp-bullet-title,.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet.rs-touchhover .tp-bullet-title{transform:translateX(-50%) translatey(0px); -webkit-transform:translateX(-50%) translatey(0px)}.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-title{top:25px; left:50%; right:auto; transform:translateX(-50%) translateY(10px);-webkit-transform:translateX(-50%) translateY(10px)}.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-title:after{border-width:0 10px 10px 10px; border-color:transparent transparent rgba(255,255,255,0.75) transparent; right:auto; left:50%; margin-left:-10px; bottom:auto; top:-10px}.nav-dir-horizontal.nav-pos-ver-top .tp-bullet.selected:hover .tp-bullet-title:after{border-color:transparent transparent #ffffff transparent}.nav-dir-horizontal.nav-pos-ver-top .tp-bullet.rs-touchhover .tp-bullet-title{transform:translateX(-50%) translatey(0px); -webkit-transform:translateX(-50%) translatey(0px)}
</style>
<script type='text/javascript' src='/temp/template/wp-content/plugins/contact-form-7/includes/swv/js/index77e1.js?ver=5.6.4' id='swv-js'></script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"https:\/\/chapterone.qodeinteractive.com\/wp-json\/","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='/temp/template/wp-content/plugins/contact-form-7/includes/js/index77e1.js?ver=5.6.4' id='contact-form-7-js'></script>
<script type='text/javascript' src='/temp/toolbar/../export.qodethemes.com/_toolbar/assets/js/rbt-modulesbfbf.js?ver=6.0.9' id='rabbit_js-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.minc599.js?ver=2.1.4-wc.7.0.0' id='js-cookie-js'></script>
<script type='text/javascript' id='woocommerce-js-extra'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='/temp/template/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min823d.js?ver=7.0.0' id='woocommerce-js'></script>
<script type='text/javascript' id='wc-cart-fragments-js-extra'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_227f88f0a3d1bf52fcb35e697697c784","fragment_name":"wc_fragments_227f88f0a3d1bf52fcb35e697697c784","request_timeout":"5000"};
/* ]]> */
</script>
<script type='text/javascript' src='/temp/template/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min823d.js?ver=7.0.0' id='wc-cart-fragments-js'></script>
<script type='text/javascript' id='ppress-frontend-script-js-extra'>
/* <![CDATA[ */
var pp_ajax_form = {"ajaxurl":"https:\/\/chapterone.qodeinteractive.com\/wp-admin\/admin-ajax.php","confirm_delete":"Are you sure?","deleting_text":"Deleting...","deleting_error":"An error occurred. Please try again.","nonce":"3872ec48dc","disable_ajax_form":"false","is_checkout":"0","is_checkout_tax_enabled":"0"};
/* ]]> */
</script>
<script type='text/javascript' src='/temp/template/wp-content/plugins/wp-user-avatar/assets/js/frontend.minb2f9.js?ver=4.3.0' id='ppress-frontend-script-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/plugins/duracelltomi-google-tag-manager/js/gtm4wp-form-move-tracker34dd.js?ver=1.16.1' id='gtm4wp-form-move-tracker-js'></script>
<script type='text/javascript' src='/temp/template/wp-includes/js/jquery/ui/core.min0028.js?ver=1.13.1' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='/temp/template/wp-includes/js/jquery/ui/tabs.min0028.js?ver=1.13.1' id='jquery-ui-tabs-js'></script>
<script type='text/javascript' id='mediaelement-core-js-before'>
var mejsL10n = {"language":"en","strings":{"mejs.download-file":"Download File","mejs.install-flash":"You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/","mejs.fullscreen":"Fullscreen","mejs.play":"Play","mejs.pause":"Pause","mejs.time-slider":"Time Slider","mejs.time-help-text":"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.","mejs.live-broadcast":"Live Broadcast","mejs.volume-help-text":"Use Up\/Down Arrow keys to increase or decrease volume.","mejs.unmute":"Unmute","mejs.mute":"Mute","mejs.volume-slider":"Volume Slider","mejs.video-player":"Video Player","mejs.audio-player":"Audio Player","mejs.captions-subtitles":"Captions\/Subtitles","mejs.captions-chapters":"Chapters","mejs.none":"None","mejs.afrikaans":"Afrikaans","mejs.albanian":"Albanian","mejs.arabic":"Arabic","mejs.belarusian":"Belarusian","mejs.bulgarian":"Bulgarian","mejs.catalan":"Catalan","mejs.chinese":"Chinese","mejs.chinese-simplified":"Chinese (Simplified)","mejs.chinese-traditional":"Chinese (Traditional)","mejs.croatian":"Croatian","mejs.czech":"Czech","mejs.danish":"Danish","mejs.dutch":"Dutch","mejs.english":"English","mejs.estonian":"Estonian","mejs.filipino":"Filipino","mejs.finnish":"Finnish","mejs.french":"French","mejs.galician":"Galician","mejs.german":"German","mejs.greek":"Greek","mejs.haitian-creole":"Haitian Creole","mejs.hebrew":"Hebrew","mejs.hindi":"Hindi","mejs.hungarian":"Hungarian","mejs.icelandic":"Icelandic","mejs.indonesian":"Indonesian","mejs.irish":"Irish","mejs.italian":"Italian","mejs.japanese":"Japanese","mejs.korean":"Korean","mejs.latvian":"Latvian","mejs.lithuanian":"Lithuanian","mejs.macedonian":"Macedonian","mejs.malay":"Malay","mejs.maltese":"Maltese","mejs.norwegian":"Norwegian","mejs.persian":"Persian","mejs.polish":"Polish","mejs.portuguese":"Portuguese","mejs.romanian":"Romanian","mejs.russian":"Russian","mejs.serbian":"Serbian","mejs.slovak":"Slovak","mejs.slovenian":"Slovenian","mejs.spanish":"Spanish","mejs.swahili":"Swahili","mejs.swedish":"Swedish","mejs.tagalog":"Tagalog","mejs.thai":"Thai","mejs.turkish":"Turkish","mejs.ukrainian":"Ukrainian","mejs.vietnamese":"Vietnamese","mejs.welsh":"Welsh","mejs.yiddish":"Yiddish"}};
</script>
<script type='text/javascript' src='wp-includes/js/mediaelement/mediaelement-and-player.min08e1.js?ver=4.2.16' id='mediaelement-core-js'></script>
<script type='text/javascript' src='wp-includes/js/mediaelement/mediaelement-migrate.minbfbf.js?ver=6.0.9' id='mediaelement-migrate-js'></script>
<script type='text/javascript' id='mediaelement-js-extra'>
/* <![CDATA[ */
var _wpmejsSettings = {"pluginPath":"\/wp-includes\/js\/mediaelement\/","classPrefix":"mejs-","stretching":"responsive"};
/* ]]> */
</script>
<script type='text/javascript' src='/temp/template/wp-includes/js/mediaelement/wp-mediaelement.minbfbf.js?ver=6.0.9' id='wp-mediaelement-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/jquery.appearbfbf.js?ver=6.0.9' id='appear-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/modernizr.minbfbf.js?ver=6.0.9' id='modernizr-js'></script>
<script type='text/javascript' src='/temp/template/wp-includes/js/hoverIntent.min3e5a.js?ver=1.10.2' id='hoverIntent-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/owl.carousel.minbfbf.js?ver=6.0.9' id='owl-carousel-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/jquery.waypoints.minbfbf.js?ver=6.0.9' id='waypoints-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/fluidvids.minbfbf.js?ver=6.0.9' id='fluidvids-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/perfect-scrollbar.jquery.minbfbf.js?ver=6.0.9' id='perfect-scrollbar-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/ScrollToPlugin.minbfbf.js?ver=6.0.9' id='scroll-to-plugin-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/parallax.minbfbf.js?ver=6.0.9' id='parallax-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/jquery.waitforimagesbfbf.js?ver=6.0.9' id='waitforimages-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/jquery.prettyPhotobfbf.js?ver=6.0.9' id='prettyphoto-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/jquery.easing.1.3bfbf.js?ver=6.0.9' id='jquery-easing-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.minf7be.js?ver=6.10.0' id='isotope-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/packery-mode.pkgd.minbfbf.js?ver=6.0.9' id='packery-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/TweenLite.minbfbf.js?ver=6.0.9' id='tweenlite-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules/plugins/CSSPlugin.minbfbf.js?ver=6.0.9' id='cssplugin-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/plugins/woocommerce/assets/js/select2/select2.full.min8d46.js?ver=4.0.3-wc.7.0.0' id='select2-js'></script>
<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?key=AIzaSyC6I9erACpEMySy_SBn2PhHNbyYtY5BG0g&amp;ver=6.0.9' id='chapterone-mikado-google-map-api-js'></script>
<script type='text/javascript' id='chapterone-mikado-modules-js-extra'>
/* <![CDATA[ */
var mkdfGlobalVars = {"vars":{"mkdf_add_for_admin_bar":0,"mkdf_element_eppear_amount":-100,"mkdf_ajax_url":"https:\/\/chapterone.qodeinteractive.com\/wp-admin\/admin-ajax.php","slider_nav_prev_arrow":"ion-ios-arrow-left","slider_nav_next_arrow":"ion-ios-arrow-right","pp_expand":"Expand the image","pp_next":"Next","pp_prev":"Previous","pp_close":"Close","mkdfStickyHeaderHeight":70,"mkdfStickyHeaderTransparencyHeight":70,"mkdfTopBarHeight":"50","mkdfLogoAreaHeight":0,"mkdfMenuAreaHeight":150,"mkdfMobileHeaderHeight":70}};
var mkdfPerPageVars = {"vars":{"mkdfMobileHeaderHeight":70,"mkdfStickyScrollAmount":1200,"mkdfHeaderTransparencyHeight":0,"mkdfHeaderVerticalWidth":0}};
/* ]]> */
</script>
<script type='text/javascript' src='/temp/template/wp-content/themes/chapterone/assets/js/modules.minbfbf.js?ver=6.0.9' id='chapterone-mikado-modules-js'></script>
<script type='text/javascript' src='/temp/template/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.minf7be.js?ver=6.10.0' id='wpb_composer_front_js-js'></script>
<script id="rs-initialisation-scripts">
		var	tpj = jQuery;

		var	revapi2,revapi3,revapi4;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider21"] = {once: RS_MODULES.modules["revslider21"]!==undefined ? RS_MODULES.modules["revslider21"].once : undefined, init:function() {
			window.revapi2 = window.revapi2===undefined || window.revapi2===null || window.revapi2.length===0  ? document.getElementById("rev_slider_2_1") : window.revapi2;
			if(window.revapi2 === null || window.revapi2 === undefined || window.revapi2.length==0) { window.revapi2initTry = window.revapi2initTry ===undefined ? 0 : window.revapi2initTry+1; if (window.revapi2initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider21"].init()}); return;}
			window.revapi2 = jQuery(window.revapi2);
			if(window.revapi2.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_2_1"); return;}
			revapi2.revolutionInit({
					revapi:"revapi2",
					duration:"4000ms",
					visibilityLevels:"1920,1700,1025,480",
					gridwidth:"1240,1024,778,480",
					gridheight:"620,493,600,720",
					lazyType:"smart",
					perspectiveType:"local",
					editorheight:"620,493,600,720",
					responsiveLevels:"1920,1700,1025,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false,
						arrows: {
							enable:true,
							tmp:"<svg  xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"33px\" height=\"57px\"><path fill-rule=\"evenodd\" stroke-width=\"2px\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" fill=\"none\" d=\"M30.026,2.674 L4.569,28.131 L30.026,53.588 \"/></svg>",
							style:"chapter-one-navigation-dark",
							hide_onmobile:true,
							hide_under:"1024px",
							left: {
								h_offset:26
							},
							right: {
								h_offset:26
							}
						},
						bullets: {
							enable:true,
							tmp:"",
							style:"chapter-one-navigation-dark",
							v_offset:30,
							space:16
						}
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
							var api = revapi2.bind("revolution.slide.onbeforeswap",function (e, data) {
  setTimeout(function(){
 
    jQuery('.chapter-one-navigation-dark').removeClass('mkdf-light-navigation mkdf-dark-navigation').addClass(
         'mkdf-' + api.find('rs-slide').eq(data.nextslide.index()).attr('data-color') + '-navigation'
     );
 }, 100);
});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider32"] = {once: RS_MODULES.modules["revslider32"]!==undefined ? RS_MODULES.modules["revslider32"].once : undefined, init:function() {
			window.revapi3 = window.revapi3===undefined || window.revapi3===null || window.revapi3.length===0  ? document.getElementById("rev_slider_3_2") : window.revapi3;
			if(window.revapi3 === null || window.revapi3 === undefined || window.revapi3.length==0) { window.revapi3initTry = window.revapi3initTry ===undefined ? 0 : window.revapi3initTry+1; if (window.revapi3initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider32"].init()}); return;}
			window.revapi3 = jQuery(window.revapi3);
			if(window.revapi3.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_3_2"); return;}
			revapi3.revolutionInit({
					revapi:"revapi3",
					visibilityLevels:"1920,1700,1025,480",
					gridwidth:"1240,1024,778,480",
					gridheight:"930,768,683,720",
					lazyType:"smart",
					perspectiveType:"local",
					editorheight:"930,768,683,720",
					responsiveLevels:"1920,1700,1025,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:true,
						visible_area:"20px",
						presize:true
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} // End of RevInitScript

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider43"] = {once: RS_MODULES.modules["revslider43"]!==undefined ? RS_MODULES.modules["revslider43"].once : undefined, init:function() {
			window.revapi4 = window.revapi4===undefined || window.revapi4===null || window.revapi4.length===0  ? document.getElementById("rev_slider_4_3") : window.revapi4;
			if(window.revapi4 === null || window.revapi4 === undefined || window.revapi4.length==0) { window.revapi4initTry = window.revapi4initTry ===undefined ? 0 : window.revapi4initTry+1; if (window.revapi4initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider43"].init()}); return;}
			window.revapi4 = jQuery(window.revapi4);
			if(window.revapi4.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_4_3"); return;}
			revapi4.revolutionInit({
					revapi:"revapi4",
					visibilityLevels:"1920,1700,1025,480",
					gridwidth:"1240,1024,778,480",
					gridheight:"760,610,660,720",
					lazyType:"smart",
					perspectiveType:"local",
					editorheight:"760,610,660,720",
					responsiveLevels:"1920,1700,1025,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:true,
						visible_area:"20px",
						presize:true
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} // End of RevInitScript

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
</body>

<!-- Mirrored from chapterone.qodeinteractive.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Dec 2024 22:27:09 GMT -->
</html>