
<div class="vc_row wpb_row vc_row-fluid vc_custom_1565343369521">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class="mkdf-clients-grid-holder mkdf-grid-list mkdf-disable-bottom-space mkdf-six-columns mkdf-normal-space  mkdf-cc-hover-slideup-images">
					<div class="mkdf-cg-inner mkdf-outer-space">
						<div class="mkdf-cc-item mkdf-item-space mkdf-cci-has-link">
							<a itemprop="url" class="mkdf-cc-link mkdf-block-drag-link" href="#"
							   target="_self">
								<img itemprop="image" class="mkdf-cc-image" src="/temp/template/wp-content/uploads/2019/07/home-2-client-1.png"
									 alt="h" />
							</a>
						</div><div class="mkdf-cc-item mkdf-item-space mkdf-cci-has-link">
							<a itemprop="url" class="mkdf-cc-link mkdf-block-drag-link" href="#"
							   target="_self">
								<img itemprop="image" class="mkdf-cc-image" src="/temp/template/wp-content/uploads/2019/07/home-2-client-2.png"
									 alt="h" />
							</a>
						</div><div class="mkdf-cc-item mkdf-item-space mkdf-cci-has-link">
							<a itemprop="url" class="mkdf-cc-link mkdf-block-drag-link" href="#"
							   target="_self">
								<img itemprop="image" class="mkdf-cc-image" src="/temp/template/wp-content/uploads/2019/07/home-2-client-3.png"
									 alt="h" />
							</a>
						</div><div class="mkdf-cc-item mkdf-item-space mkdf-cci-has-link">
							<a itemprop="url" class="mkdf-cc-link mkdf-block-drag-link" href="#"
							   target="_self">
								<img itemprop="image" class="mkdf-cc-image" src="/temp/template/wp-content/uploads/2019/07/home-2-client-4.png"
									 alt="h" />
							</a>
						</div><div class="mkdf-cc-item mkdf-item-space mkdf-cci-has-link">
							<a itemprop="url" class="mkdf-cc-link mkdf-block-drag-link" href="#"
							   target="_self">
								<img itemprop="image" class="mkdf-cc-image" src="/temp/template/wp-content/uploads/2019/07/home-2-client-5.png"
									 alt="h" />
							</a>
						</div><div class="mkdf-cc-item mkdf-item-space mkdf-cci-has-link">
							<a itemprop="url" class="mkdf-cc-link mkdf-block-drag-link" href="#"
							   target="_self">
								<img itemprop="image" class="mkdf-cc-image" src="/temp/template/wp-content/uploads/2019/07/home-2-client-6.png"
									 alt="h" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


