<footer class="mkdf-page-footer ">
	<div class="mkdf-footer-top-holder">
		<div class="mkdf-footer-top-inner mkdf-grid">
			<div class="mkdf-grid-row mkdf-footer-top-alignment-left">
				<div class="mkdf-column-content mkdf-grid-col-3">
					<div id="nav_menu-2" class="widget mkdf-footer-column-1 widget_nav_menu">
						<div class="mkdf-widget-title-holder"><h5 class="mkdf-widget-title">Publishers</h5></div><div class="menu-footer-menu-1-container">
							<ul id="menu-footer-menu-1" class="menu">
								<li id="menu-item-195" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="/temp/template/shop-list/index.html">Bestsellers</a></li>
								<li id="menu-item-196" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-196"><a href="/temp/template/event/festival-of-books/index.html">Interviews</a></li>
								<li id="menu-item-197" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-197"><a href="/temp/template/about-me/index.html">Authors story</a></li>
								<li id="menu-item-198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-198"><a href="/temp/template/event-dates/index.html">Book Fairs</a></li>
								<li id="menu-item-199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-199"><a href="/temp/template/faq-page/index.html">Help (FAQ)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="mkdf-column-content mkdf-grid-col-3">
					<div id="text-2" class="widget mkdf-footer-column-2 widget_text">
						<div class="mkdf-widget-title-holder"><h5 class="mkdf-widget-title">Contact</h5></div>			<div class="textwidget">
							<p>Stay in touch with everything ChapterOne, follow us on social media and learn about new promotions.</p>
						</div>
					</div><div class="widget mkdf-social-icons-group-widget text-align-left">
						<a class="mkdf-social-icon-widget-holder" href="https://twitter.com/bookhub">
							<span class="mkdf-social-icon-widget fab fa-twitter"></span>
						</a>
						<a class="mkdf-social-icon-widget-holder" href="https://www.instagram.com/bookhub">
							<span class="mkdf-social-icon-widget fab fa-instagram"></span>
						</a>
						<a class="mkdf-social-icon-widget-holder" href="https://www.linkedin.com/in/ya%C4%9Fmur-hamzao%C4%9Flu-6021b2302/">
							<span class="mkdf-social-icon-widget fab fa-linkedin"></span>
						</a>
					</div>
				</div>
				<div class="mkdf-column-content mkdf-grid-col-3">
					<div id="text-3" class="widget mkdf-footer-column-3 widget_text">
						<div class="mkdf-widget-title-holder"><h5 class="mkdf-widget-title">News &#038; Update</h5></div>			<div class="textwidget">
							<p>We’d love it if you subscribed to our newsletter! You’ll love it too.</p>
						</div>
					</div>			<div class="widget mkdf-contact-form-7-widget ">
						<div role="form" class="wpcf7" id="wpcf7-f16-o1" lang="en-US" dir="ltr">
							<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
							<form action="https://chapterone.qodeinteractive.com/#wpcf7-f16-o1" method="post" class="wpcf7-form init demo" novalidate="novalidate" data-status="init">
								<div style="display: none;">
									<input type="hidden" name="_wpcf7" value="16" />
									<input type="hidden" name="_wpcf7_version" value="5.6.4" />
									<input type="hidden" name="_wpcf7_locale" value="en_US" />
									<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f16-o1" />
									<input type="hidden" name="_wpcf7_container_post" value="0" />
									<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
								</div>
								<div class="mkdf-ft-newsletter">
									<div class="mkdf-two-columns-form-with-space">
										<div class="mkdf-column-ft-left">
											<span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email..." /></span>
											<div class="mkdf-ft-after"><button type="submit" class="wpcf7-form-control wpcf7-submit mkdf-btn mkdf-btn-medium mkdf-btn-solid"><span class="mkdf-btn-text">&nbsp;</span></button></div>
										</div>
									</div>
								</div>
								<div class="wpcf7-response-output" aria-hidden="true"></div>
							</form>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div><div class="mkdf-footer-bottom-holder">
		<div class="mkdf-footer-bottom-inner mkdf-grid">
			<div class="mkdf-grid-row ">
				<div class="mkdf-grid-col-12">
					<div id="text-5" class="widget mkdf-footer-bottom-column-1 widget_text">
						<div class="textwidget">
							<p>© 2024 <a href="https://seninsiten.com" target="_blank">BookHub</a>, TÜM HAKLARI SAKLIDIR</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>