
<footer class="mkdf-page-footer ">
	<div class="mkdf-footer-top-holder">
		<div class="mkdf-footer-top-inner mkdf-grid">
			<div class="mkdf-grid-row mkdf-footer-top-alignment-left">
				<div class="mkdf-column-content mkdf-grid-col-3">
					<div id="nav_menu-2" class="widget mkdf-footer-column-1 widget_nav_menu">
						<div class="mkdf-widget-title-holder"><h5 class="mkdf-widget-title">Publishers</h5></div><div class="menu-footer-menu-1-container">
							<ul id="menu-footer-menu-1" class="menu">
								<li id="menu-item-195" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a href="/temp/template/shop-list/index.html">En İyiler</a></li>
								<li id="menu-item-196" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-196"><a href="/temp/template/event/festival-of-books/index.html">Interviews</a></li>
								<li id="menu-item-197" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-197"><a href="/temp/template/about-me/index.html">Authors story</a></li>
								<li id="menu-item-198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-198"><a href="/temp/template/event-dates/index.html">Book Fairs</a></li>
								<li id="menu-item-199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-199"><a href="/temp/template/faq-page/index.html">Help (FAQ)</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="mkdf-column-content mkdf-grid-col-3">
					<div id="text-2" class="widget mkdf-footer-column-2 widget_text">
						<div class="mkdf-widget-title-holder"><h5 class="mkdf-widget-title">İletişim</h5></div>			<div class="textwidget">
							<p>BookHub ile ilgili her şeyden haberdar olun ve bizi sosyal medyada takip edin. </p>
						</div>
					</div><div class="widget mkdf-social-icons-group-widget text-align-left">
						<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#ffffff" style="color: #c4c4c4;" href="https://twitter.com/username" target="_blank">
							<span class="mkdf-social-icon-widget fab fa-twitter"></span>
						</a>
						<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#ffffff" style="color: #c4c4c4;" href="https://www.instagram.com/yagmur.hmzgl/?next=%2F" target="_blank">
							<span class="mkdf-social-icon-widget fab fa-instagram"></span>
						</a>
						<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#ffffff" style="color: #c4c4c4;" href="https://www.linkedin.com/in/ya%C4%9Fmur-hamzao%C4%9Flu-6021b2302/" target="_blank">


							<span class="mkdf-social-icon-widget fab fa-linkedin"></span>

							</
						</a>
					</div>
				</div>
			
				<div class="mkdf-column-content mkdf-grid-col-3">
					<div id="mkdf_instagram_widget-9" class="widget mkdf-footer-column-4 widget_mkdf_instagram_widget"><div class="mkdf-widget-title-holder"><h5 class="mkdf-widget-title">Social media</h5></div></div>
				</div>
			</div>
		</div>
	</div><div class="mkdf-footer-bottom-holder">
		<div class="mkdf-footer-bottom-inner mkdf-grid">
			<div class="mkdf-grid-row ">
				<div class="mkdf-grid-col-12">
					<div id="text-5" class="widget mkdf-footer-bottom-column-1 widget_text">
						<div class="textwidget">
							<p>© 2024 <a href="https://qodeinteractive.com/" target="_blank" rel="nofollow noopener">QODE INTERACTIVE</a>, TÜM HAKLARI SAKLIDIR</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
