<div class="mkdf-prl-loading">
	<span class="mkdf-prl-loading-msg">Yükleniyor
		<svg class="mkdf-chapterone-spinner" version="1.1"
			 xmlns="http://www.w3.org/2000/svg"
			 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="110px"
			 height="110px" viewBox="0 0 110 110" enable-background="new 0 0 110 110"
			 xml:space="preserve">
		<g>
		<line class="mkdf-spinner-line mkdf-spinner-line-1" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.887" y1="75.491"
			  x2="19.107" y2="73.232"></line>
		<path class="mkdf-spinner-line mkdf-spinner-line-2" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M2.437,57.956h13.352H2.437z"></path>
		<line class="mkdf-spinner-line mkdf-spinner-line-3" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="19.107" y1="43.407"
			  x2="13.887" y2="41.149"></line>
		<path class="mkdf-spinner-line mkdf-spinner-line-4" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M27.459,30.375l-9.441-9.441L27.459,30.375z"></path>
		<line class="mkdf-spinner-line mkdf-spinner-line-5" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="37.617" y1="16.751"
			  x2="39.876" y2="21.971"></line>
		<path class="mkdf-spinner-line mkdf-spinner-line-6" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M55.2,19.105V5.754V19.105z"></path>
		<line class="mkdf-spinner-line mkdf-spinner-line-7" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="72.043" y1="16.751"
			  x2="69.784" y2="21.971"></line>
		<path class="mkdf-spinner-line mkdf-spinner-line-8" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M82.941,30.215l9.441-9.441L82.941,30.215z"></path>
		<line class="mkdf-spinner-line mkdf-spinner-line-9" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.887" y1="43.407"
			  x2="96.107" y2="41.149"></line>
		<path class="mkdf-spinner-line mkdf-spinner-line-10" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M94.211,57.956h13.352H94.211z"></path>
		<line class="mkdf-spinner-line mkdf-spinner-line-11" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="96.107" y1="75.491"
			  x2="90.887" y2="73.232"></line>
		<path class="mkdf-spinner-bottom-line-3" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M55.073,71.494v32.752V71.494z"></path>
		<path class="mkdf-spinner-bottom-line-4" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M61.336,71.494v25.663V71.494z"></path>
		<path class="mkdf-spinner-bottom-line-5" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M67.6,71.494v17.109V71.494z"></path>
		<path class="mkdf-spinner-bottom-line-2" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M48.809,71.494v25.663V71.494z"></path>
		<path class="mkdf-spinner-bottom-line-1" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M42.545,71.494v17.109V71.494z"></path>
		<path class="mkdf-spinner-bottom-curl" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M74.589,70.892c-2.891-0.25-2.844,3.563,0.234,3.813c2.682,0.218,3.625-1.875,3.625-2.875s-0.453-3.75-6.266-3.563
					c-3.011,0.097-28.281,0.188-34.094,0s-6.266,2.563-6.266,3.563s0.943,3.093,3.625,2.875c3.078-0.25,3.125-4.063,0.234-3.813"></path>
		<g class="mkdf-spinner-book">
		<path class="mkdf-spinner-book-left" fill="none" stroke="#D24130" stroke-width="1.3"
			  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M35.168,54.851l-0.984,3.935c9.965-1.026,20.957,3.507,20.957,3.507c-4.79-8.511-23.352-7.698-23.352-7.698l4.405-20.871
					c13.772-0.214,18.776,8.254,18.776,8.254v20.227"></path>
		<path class="mkdf-spinner-book-right" fill="none" stroke="#D24130" stroke-width="1.3" stroke-linecap="round"
			  stroke-linejoin="round" stroke-miterlimit="10" d="
					M75.115,54.866l0.984,3.935c-9.965-1.026-20.957,3.507-20.957,3.507c4.79-8.511,23.352-7.698,23.352-7.698l-4.405-20.871
					c-13.772-0.214-18.776,8.254-18.776,8.254"></path>
				</g></g>
			</svg>
	</span>
</div>
