<section class="mkdf-side-menu">
	<a class="mkdf-close-side-menu mkdf-close-side-menu-icon-pack" href="#">
		<span aria-hidden="true" class="mkdf-icon-font-elegant icon_close "></span>
	</a>
	<div id="media_image-3" class="widget mkdf-sidearea widget_media_image"><a href="/temp/template/index.html"><img width="65" height="55" src="/temp/template/wp-content/uploads/2019/08/logo-side.png" class="image wp-image-2063  attachment-full size-full" alt="f" loading="lazy" style="max-width: 100%; height: auto;" /></a></div><div class="widget mkdf-separator-widget">
		<div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal">
			<div class="mkdf-separator" style="border-style: solid;margin-bottom: 15px">
			</div>
		</div>
	</div>
	<a class="mkdf-icon-widget-holder" href="https://www.google.com/maps/place/194+Amsterdam+Ave,+New+York,+NY+10023,+USA/.40.7766818,-73.9866015,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25860389651d9:0xe674e38c4e7f6898!8m2!3d40.7766818!4d-73.9844128"
	   target="_blank">
		<span class="mkdf-icon-element icon_pin_alt" style="font-size: 15px"></span>				<span class="mkdf-icon-text ">1942 Amsterdam Ave NY</span>
	</a>

	<a class="mkdf-icon-widget-holder" href="tel:2128623680"
	   target="_self">
		<span class="mkdf-icon-element icon_phone" style="font-size: 15px"></span>				<span class="mkdf-icon-text ">(212) 862-3680</span>
	</a>

	<a class="mkdf-icon-widget-holder" href="cdn-cgi/l/email-protection.html#c8aba0a9b8bcadba88adb0a9a5b8a4ade6aba7a5" target="_self">
		<span class="mkdf-icon-element icon_mail_alt" style="font-size: 15px"></span>				<span class="mkdf-icon-text "><span class="__cf_email__" data-cfemail="e5868d8495918097a5809d8488958980cb868a88">[email&#160;protected]</span></span>
	</a>
	<div class="widget mkdf-separator-widget">
		<div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal">
			<div class="mkdf-separator" style="border-style: solid;margin-bottom: 30px">
			</div>
		</div>
	</div>			<div class="widget mkdf-contact-form-7-widget ">
		<div role="form" class="wpcf7" id="wpcf7-f14-o2" lang="en-US" dir="ltr">
			<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
			<form action="https://chapterone.qodeinteractive.com/#wpcf7-f14-o2" method="post" class="wpcf7-form init demo" novalidate="novalidate" data-status="init">
				<div style="display: none;">
					<input type="hidden" name="_wpcf7" value="14" />
					<input type="hidden" name="_wpcf7_version" value="5.6.4" />
					<input type="hidden" name="_wpcf7_locale" value="en_US" />
					<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f14-o2" />
					<input type="hidden" name="_wpcf7_container_post" value="0" />
					<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
				</div>
				<div class="mkdf-grid-row mkdf-grid-normal-gutter">
					<div class="mkdf-grid-col-12">
						<span class="wpcf7-form-control-wrap" data-name="your-email"><input type="text" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
					</div>
					<div class="mkdf-grid-col-12">
						<button type="submit" class="wpcf7-form-control wpcf7-submit mkdf-btn-huge mkdf-btn mkdf-btn-medium mkdf-btn-solid"><span class="mkdf-btn-text">Subscribe</span></button>
					</div>
				</div>
				<div class="wpcf7-response-output" aria-hidden="true"></div>
			</form>
		</div>
	</div>
	<div class="widget mkdf-social-icons-group-widget text-align-left">
		<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" href="https://twitter.com/QodeInteractive" target="_blank">
			<span class="mkdf-social-icon-widget fab fa-twitter"></span>
		</a>
		<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" href="https://www.instagram.com/qodeinteractive/" target="_blank">
			<span class="mkdf-social-icon-widget fab fa-instagram"></span>
		</a>
		<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" href="https://www.facebook.com/QodeInteractive/" target="_blank">
			<span class="mkdf-social-icon-widget fab fa-facebook-f"></span>
		</a>
		<a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" href="https://dribbble.com/QodeInteractive" target="_blank">
			<span class="mkdf-social-icon-widget fab fa-dribbble"></span>
		</a>
	</div><div id="custom_html-4" class="widget_text widget mkdf-sidearea widget_custom_html">
		<div class="textwidget custom-html-widget">
			<span style="color: #000; font-size: 10px; text-transform: uppercase; letter-spacing: 0.35em;line-height: 16px;margin-top: 15px;display: block;font-family:'Josefin Sans';">Free shipping <br> for orders over 50%</span>
		</div>
	</div>
</section>

